@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #519159;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	
	background: #fff;
	overflow: hidden;
}

.chat-header {
	display: flex;
	align-items: center;
	border-bottom: 2px solid black;
	
}

.chat-main {
	padding: 5px;
	display: grid;
	height: 550px;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: white;
	color: rgb(2, 2, 2);
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	border: 2px solid black;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-right: 0px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 0%;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 1000px;
	
}

.join-header {
	text-align: center;
	padding: 5px;
	background: rgb(33, 28, 28);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	margin-left: 0%;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}
.join-btn {
	cursor: pointer;
	background: blue;
	color: white;
	font-size: 17px;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
